      
      *{list-style: none;}


        *{
        text-decoration: none;}


        :root{
          --color-primary: #2e2f42;
          --color-brand: #4d5ae5;
          --invert-color: #ffffff;
          --secondary-color: #434455;
          --light-color: #f4f4f4;
          --color-active: #404bbf;
          --border-color: #e7e9fc;
         }

        
        /* body */

        body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #fff;}


             /* header */

        .list {
            list-style: none;
        }


        .header-menu-link:hover,
        .header-menu-link:focus{
         color: #404BBF;
        }
        
        .header-menu-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;}



        .header-logo-web {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;}



        .logo-studio {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
        text-decoration: none ;
        }


                  /* addres */


        .address-contact-link:hover,
        .address-contact-link:focus {
        color:#404bbf;}



        .header-address {
         font-style: normal;}



       .address-contact-link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        list-style: none;
        text-decoration: none;}
        
                 /* section-hero */

       .portfolio-hero-btn-all:hover,
       .portfolio-hero-btn-all:focus {
        color: #ffffff;
        background-color: #404bbf;}


        .portfolio-hero-btn-all{
        font-family:"Roboto",sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background-color: #F4F4FD;}


        .portfolio-button{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        line-height: 1.5;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color:#4d5ae5;
        background-color:#F4F4FD;
        cursor:pointer ;}

        .list{
            list-style: none;
        }
  
        .font-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:var(--secondary-color);
        list-style: none;} 


        .portfolio-button:hover,
        .portfolio-button:focus{
        color: var(--white-color);
        background-color: var(--accent-color);}


        .font-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
        list-style: none; }


                        /* footer */



        .footter-general{
        background: #2E2F42;}



        .footer-logo-web{
        font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;}


       .footer-logo-studio{
        font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;} 


       .footer-general-content{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;}